.bg-main {
    background-color: #17A2B8
}

.text-decoration-line-through {
    text-decoration: line-through;
}

.image-circle {
    border-radius: 50%;
}

.container-footer a{
margin-right: 20px;
}

.btn{
    margin-right: 5px;
    margin-bottom: 5px;
}

